@import url('https://fonts.cdnfonts.com/css/google-sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


:root {
	--primary-color: #e2e2e2;
	--secondary-color: #169482;
	--tertiary-color: #cfcfcf;
	--quaternary-color: #272e30;
	--special-color: #1e2223;
	--font: "Roboto", sans-serif;
}

.landing-bg {
	/* background: #171717; */
	background-image: url("../assets/dark-green-marble-wave-background_53876-104420.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.q-title {
	font-size: 1.5rem;
	font-weight: 700;
	font-family: "Product Sans", sans-serif;
}


.my-text-color {
	color: var(--tertiary-color);
}

.my-text-secondary-color {
	color: var(--secondary-color) !important;
}

.my-text-quaternary-color {
	color: var(--quaternary-color) !important;
}

.my-bg-color {
	background-color: var(--primary-color);
}

.my-bg-secondary-color {
	background-color: var(--secondary-color);
}

.my-bg-quaternary-color {
	background-color: var(--quaternary-color);
}

.my-bg-special-color {
	background-color: var(--special-color);
}

* {
	color: white;
	font-size: 13pt;
	font-family: var(--font);
}

.card {
	background-color: var(--special-color);
	/* box-shadow: #141414 #38654f #e2e2e2 1px 2px 3px; */
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	/* background-color: rgba(17, 25, 40, 0.75); */
	border-radius: 12px;
	border: none;
}

h2,
h3,
h4,
h5,
strong {
	font-family: "Product Sans", sans-serif;
	font-weight: 700;
	margin: 0 auto;
	color: var(--primary-color) !important;
}

.btn {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.app-title {
	font-weight: 800;
	font-size: 1.5em;
	margin: 0 auto;
}

#quote-welcome-message {
	font-weight: 800;
	font-size: 2.5em;

}

@media (max-width: 767px) {
	* {
		font-size: 10pt;
	}

	h2,
	h3,
	h4,
	h5,
	strong {
		font-weight: 800;
		margin: 0 auto;
	}

	/* Hide the desktop header */
	#header {
		display: none;
	}

	/* Show the mobile menu when the button is clicked */
	#menu.show {
		display: block;
	}
}