@import url('https://fonts.cdnfonts.com/css/rutina-grace');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
	--primary-color: #2b2b2b;
	--secondary-color: #6b1394;
	--tertiary-color: #232323;
	--quaternary-color: #ffffff;
	--font: 'Roboto Condensed', sans-serif;
	--font-special: 'Arial', sans-serif;
}

*:not(i) {
	color: rgb(255, 255, 255) !important;
	font-weight: 300;
	font-family: var(--font);
	letter-spacing: 1px;
	word-spacing: 0;
}


.landing-bg {
	background-color: var(--tertiary-color);
}


.filter-bland-and-white {
	filter: grayscale(100%);
}

#app-title-mobile {
	font-weight: 900;
	font-size: 1.5em;
	font-family: 'Rutina Grace', sans-serif;
}

#app-title {
	font-size: 1.6em;
	font-family: 'Rutina Grace', sans-serif;
}


.border {
	border: 1px solid var(--quaternary-color);
}



.card {
	border-radius: 5px;
	border: 1pt solid #474747;
	background-color: var(--primary-color);
}




.about-dist {
	font-size: 1.1rem;
	font-weight: 300;
}


.my-text-primary-color {
	color: var(--primary-color);
}

.my-text-quaternary-color {
	color: var(--quaternary-color);
}

.my-text-secondary-color {
	color: var(--secondary-color) !important;
}

.my-text-tertiary-color {
	color: var(--tertiary-color);
}

.my-bg-quaternary-color {
	background-color: var(--quaternary-color);
}

.my-bg-secondary-color {
	background-color: var(--secondary-color);
}


.my-bg-tertiary-color {
	background-color: var(--tertiary-color);
}


.my-bg-special-color {
	background-color: #6b1394;
}



h2,
h3,
h4,
h5,
strong {
	font-family: var(--font-special) !important;
	margin: 0 auto;
}



a {
	padding: 0.2rem 0.3rem;
}


.highlight {
	max-width: 100%;
	max-height: 100%;
	/* Add any other styling properties for the highlighted image */
}


.btn-view {
	font-size: 1.0rem;
	border: 1px solid var(--quaternary-color);
}


#quote-welcome-message {
	font-weight: 900;
	font-family: 'Rutina Grace', sans-serif;
	color: #8015b2 !important;
}

@media (max-width: 767px) {
	* {
		font-size: 10pt;
	}

	h2,
	h3,
	h4,
	h5,
	strong {
		font-weight: 500 !important;
		margin: 0 auto !important;
	}

	/* Hide the desktop header */
	#header {
		display: none;
	}

	/* Show the mobile menu when the button is clicked */
	#menu.show {
		display: block;
	}
}