:root {
	--primary-color: #2a2f2e;
	--secondary-color: #252928;
	--tertiary-color: #202423;
	--quaternary-color: #434248;
	--font: 'Segoe UI', sans-serif;
}

* {
	color: white;
	font-size:  0.9rem;
	font-weight: 300;
	font-family: var(--font);
}

.drop-shadow {
	filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.landing-bg {
	background-image: url("../assets/background4.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

#app-title-mobile {
	font-weight: 900;
	font-size: 1.4em;
}

#app-title {
	font-size: 1.3em;
}


.border {
	border: 1px solid var(--quaternary-color);
}

.card {
	background-color: var(--primary-color);
	padding: 2rem;
	border: 1px solid var(--quaternary-color);
	border-radius: 12px;
}

.card:hover {
	background-color: #224037;
	border: 1px solid #535353;
}

.card:hover a,
.card:hover .topic-item {
	border: 1px solid #ffffff;
	background-color: transparent;
}



#home {
	border-bottom: 1px solid var(--quaternary-color);
}

footer {
	background-color: var(--tertiary-color);
}


footer {
	border-top: 1px solid var(--quaternary-color);
}

.q-title {
	font-size: 1.3rem;
	font-weight: 700;
}

.about-dist {
	font-size: 1.1rem;
	font-weight: 300;
}




.my-bg-quaternary-color {
	background-color: var(--secondary-color);
}


.my-bg-special-color {
	background-color: #2b5448;
}



h2,
h3,
h4,
h5,
strong {

	margin: 0 auto;
}

.btn {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	border-radius: 12px;
	border: 1px solid var(--quaternary-color);
}

a {
	padding: 0.2rem 0.3rem;
}


.highlight {
	max-width: 100%;
	max-height: 100%;
	/* Add any other styling properties for the highlighted image */
}


.btn-view {
	font-size: 1.0rem;
	border: 1px solid var(--quaternary-color);
}

.app-title {
	font-weight: 900;
	font-size: 1.4rem;
	margin: 0 auto;
}

#quote-welcome-message {
	font-weight: 700;
	font-size: 3.0rem;

}

@media (max-width: 767px) {
	* {
		font-size: 10pt;
	}

	h2,
	h3,
	h4,
	h5,
	strong {
		font-weight: 500;
		margin: 0 auto;
	}

	/* Hide the desktop header */
	#header {
		display: none;
	}

	/* Show the mobile menu when the button is clicked */
	#menu.show {
		display: block;
	}
}