<aside class="container card shadow-sm bg-light border-0 p-3 mr-4 w-25">
  <h4>Blog Posts</h4>
  <div class="blog-post m-2 px-4 py-1">
    <p class="blog-title fw-bold">Introduction to Agile Methodology</p>
    <p>
      Agile methodology has become a popular approach to software development.
      In this blog post, we will explore the basics of agile, including its
      principles, benefits, and how it is applied in a development team.
    </p>
    <a
      href="https://www.example.com/introduction-to-agile"
      style="display: block; text-align: right"
      >Read More</a
    >
  </div>
  <div class="blog-post m-2 px-4 py-1">
    <p class="blog-title fw-bold">Introduction to Agile Methodology</p>
    <p>
      Agile methodology has become a popular approach to software development.
      In this blog post, we will explore the basics of agile, including its
      principles, benefits, and how it is applied in a development team.
    </p>
    <a
      href="https://www.example.com/introduction-to-agile"
      style="display: block; text-align: right"
      >Read More</a
    >
  </div>
  <div class="blog-post m-2 px-4 py-1">
    <p class="blog-title fw-bold">Introduction to Agile Methodology</p>
    <p>
      Agile methodology has become a popular approach to software development.
      In this blog post, we will explore the basics of agile, including its
      principles, benefits, and how it is applied in a development team.
    </p>
    <a
      href="https://www.example.com/introduction-to-agile"
      style="display: block; text-align: right"
      >Read More</a
    >
  </div>
</aside>
