<header>
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm border-0">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">
          <p class="fw-bold h5">marcuwynu.com</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/"
          ><i class="fas fa-user-circle mr-2"></i> Profile</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/skills"
          ><i class="fas fa-wrench mr-2"></i> Skills</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/projects"
          ><i class="fas fa-briefcase mr-2"></i> Projects</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/snippets"
          ><i class="fas fa-code mr-2"></i> Snippets</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/testimonies"
          ><i class="fas fa-comments mr-2"></i> Testimonies</a
        >
      </li>
    </ul>
  </nav>
</header>
